* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-image: url(kepek/hatter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

main {
    display: grid;
    grid-template-areas:
        "he"
        "nav"
        "sec"
        "fo";
    gap: 10px;
}

.container1 {
    grid-area: he;
    display: grid;
    justify-content: center;
    border: 3px solid black;
    max-width: 900px;
    margin: 0 auto;
}

.fej {
    position: relative;
    text-align: center;
}

.fej img {
    width: 100%;
    height: auto;
    display: block;
}

.fej h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-weight: bold;
    font-size: 25px;
    margin: 0;
}

.nav3{
    display: grid;
    grid-area: nav;
}
.nav3{
    background-color: red;
    width: 800px;
    min-width: 900px;
    height: 35px;
    border: black solid 3px;
    margin: 0 auto;
    margin-top: -10px;
}
.nav3 ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
}
.nav3 li{
    color: white;
    font-size: 10px;
}

.container2 {
    grid-area: sec;
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-areas:
        "asi art art"
        "asi art art";
    gap: 10px;
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px;
    background-color: bisque;
    margin-top: -13px;
}

.container3 {
    grid-area: asi;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border: 3px solid black;
    padding: 10px;
}

.container3 img {
    width: 100%;
    height: auto;
    border: 2px solid orange;
}

.container4 {
    grid-area: art;
    background-color: rgb(202, 188, 170);
    border: 3px solid black;
    padding: 10px;
    position: relative; 
}

.container4 h2 {
    color: red;
    font-size: 16px;
    margin-top: 0;
}

.container4 p {
    font-size: 12px;
    margin: 8px 0;
}

.container4 .kep3 {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.container4 .kep3 img {
    width: 150px;
    height: auto;
    border-radius: 10%;
    float: none; 
    margin: 0; 
}

footer{
    display: grid;
    grid-area: fo;
}
footer{
    background-color: red;
    width: 800px;
    min-width: 900px;
    height: 25px;
    margin: 0 auto;
    border: black solid 3px;
    margin-top: -25px;
}
footer p{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
}