body{
    background-color: darkgray;
}
table,td{
    border: solid 2px black;
    border-collapse: collapse;
}


#blue{
    background-color: blue;
}

#red{
    background-color: red;
}

#green{
    background-color: green;
}

#yel{
    background-color: yellow;
}