* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("kepek/gp-abu-dhabi-formula-1-3231244.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "art nav asi";
    gap: 30px;
    padding: 30px;
    align-items: stretch;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s ease;
}

.menu a:hover {
    background-color: rgba(224, 11, 11, 0.4);
    transform: translateY(-2px);
}

article,
aside {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    border: 3px solid black;
    background-color: rgba(0,0,0,0.35);
    color: white;
}

article{
    display: grid;
    grid-area: art;
}
aside{
    display: grid;
    grid-area: asi;
}

article h1,
aside h1 {
    font-size: 18px;
    margin: 0;
}

article h2,
aside h2 {
    font-size: 16px;
    margin: 0;
}

article p,
aside p {
    font-size: 14px;
    margin: 0;
}

article img,
aside img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.spotify-player {
    flex: 1;
    display: flex;
}

.spotify-player iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: none;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "art"
            "asi";
    }

    nav,
    article,
    aside {
        width: 100%;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }
}